@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Big Noodle Titling;
  /* Гарнитура шрифта */
  src: url(../fonts/BigNoodleTitling.ttf);
  /* Путь к файлу со шрифтом */
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  outline: 1px solid red;
}

.header {
  background-color: #f8f6f6;
  width: 100%;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo_link {
  text-decoration: none;
}

.header__logo_link svg {
  stroke: black;
  margin-right: 25px;
}

.header__title {
  font-family: 'Big Noodle Titling', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #696969;
  padding: 57px 0 57px 0;
}

.header__burger_btn {
  height: 22px;
  width: 40px;
  border: none;
  background-color: none;
}

.header__burger_btn svg {
  fill: none;
  stroke: #464646;
  stroke-width: 2px;
  fill-rule: evenodd;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.header__burger_btn:hover svg {
  stroke: #f38364;
  stroke-width: 2px;
  fill-rule: evenodd;
}

.slider {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__btn {
  border: none;
  background-color: transparent;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.slider__btn svg {
  stroke: #3a3939;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.slider__btn:hover svg {
  stroke: #f38364;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d6d5d5;
  height: 709px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider__title {
  font-family: 'Big Noodle Titling';
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.slider__text {
  font-family: 'Big Noodle Titling';
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 24px 0 167px 0;
}

.slider__image {
  background-color: transparent;
}

.slider__bottom_text {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  padding: 19px 0 45px 0;
}

.about {
  background-color: #fff;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-family: 'Big Noodle Titling';
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  border-bottom: 3px solid #f38364;
  padding-top: 95px;
}

.about__text-cont {
  width: 550px;
  text-align: center;
}

.about__text {
  font-family: Roboto;
  font-size: 14.1px;
  line-height: 1.2;
  font-weight: 100;
  color: #696969;
  padding-top: 29px;
}

.about__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 22px;
  width: 100%;
  padding: 60px 0 119px 0;
}

.about__cart {
  width: 320px;
  height: 196px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 45px;
}

.about__cart-images {
  width: 60px;
  height: 58px;
  padding-top: 33px;
  position: relative;
  margin: 0 auto;
}

.about__cart-image {
  position: absolute;
  bottom: 0;
}

.about__cart-title {
  font-family: Roboto;
  font-size: 17.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #707070;
  padding-top: 24px;
}

.about__cart-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 0.025em;
  color: #707070;
  padding: 16px 0 24px 0;
}
/*# sourceMappingURL=style.css.map */