@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Big Noodle Titling;
  /* Гарнитура шрифта */
  src: url(../fonts/BigNoodleTitling.ttf);
  /* Путь к файлу со шрифтом */
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  outline: 1px solid red;
}

.header {
  background-color: #f8f6f6;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo_link {
  text-decoration: none;
}

.header__logo_link svg {
  stroke: black;
  margin-right: 25px;
}

.header__title {
  font-family: "Big Noodle Titling", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #696969;
  padding: 57px 0 57px 0;
}

.header__burger_btn {
  height: 22px;
  width: 40px;
  border: none;
  background-color: none;
}

.header__burger_btn svg {
  fill: none;
  stroke: #464646;
  stroke-width: 2px;
  fill-rule: evenodd;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header__burger_btn:hover svg {
  stroke: #f38364;
  stroke-width: 2px;
  fill-rule: evenodd;
}

.slider {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__btn {
  border: none;
  background-color: transparent;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.slider__btn svg {
  stroke: #3a3939;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.slider__btn:hover svg {
  stroke: #f38364;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d6d5d5;
  height: 709px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider__title {
  font-family: "Big Noodle Titling";
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.slider__text {
  font-family: "Big Noodle Titling";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 24px 0 167px 0;
}

.slider__image {
  background-color: transparent;
}

.slider__bottom_text {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  padding: 19px 0 45px 0;
}

.about {
  background-color: #fff;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-family: "Big Noodle Titling";
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  border-bottom: 3px solid #f38364;
  padding-top: 95px;
}

.about__text-cont {
  width: 550px;
  text-align: center;
}

.about__text {
  font-family: Roboto;
  font-size: 14.1px;
  line-height: 1.2;
  font-weight: 100;
  color: #696969;
  padding-top: 29px;
}

.about__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 22px;
  width: 100%;
  padding: 60px 0 119px 0;
}

.about__cart {
  width: 320px;
  height: 196px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 45px;
}

.about__cart-images {
  width: 60px;
  height: 58px;
  padding-top: 33px;
  position: relative;
  margin: 0 auto;
}

.about__cart-image {
  position: absolute;
  bottom: 0;
}

.about__cart-title {
  font-family: Roboto;
  font-size: 17.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #707070;
  padding-top: 24px;
}

.about__cart-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 0.025em;
  color: #707070;
  padding: 16px 0 24px 0;
}

.video__main-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1370px;
  margin: 0 auto;
  background-color: #171f23;
}

.video__boxes {
  width: 50%;
  height: 430px;
}

.video__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #171f23;
}

.video__title {
  font-family: Roboto;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #e7e7e7;
  padding-top: 130px;
}

.video__text-box {
  width: 470px;
  margin: 0 auto;
}

.video__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  color: #696969;
  padding-top: 28px;
}

.video__text-btn {
  border: none;
  background-color: #e84c3d;
  color: #eadbd9;
  margin: 50px auto 100px;
  padding: 12px 29px;
}

.video__text-btn:hover {
  border-bottom: 2px solid #b11000;
}

.video__viddiv {
  position: relative;
  background-image: url(../images/video/bg_copy_5536.jpg);
  background-repeat: no-repeat;
}

.video__glass {
  position: absolute;
  background-color: #171f23;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__viddiv-btn {
  background-color: none;
  border: none;
}

.works {
  max-width: 1370px;
  margin: 0 auto;
}

.works__carts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1px;
  margin: 0 auto;
}

.works__cart {
  width: 273px;
  height: 175px;
  background-color: #e84c3d;
  outline: 1px solid black;
}

.works__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 84px 0 34px 0;
  font-family: Roboto;
  font-size: 13.7px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}

.works__list {
  list-style-type: none;
  padding-left: 16px;
}

.works__links {
  text-decoration: none;
  color: #3d3d3d;
}

.works__links:hover {
  font-family: Roboto;
  font-size: 13.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  border-bottom: 1px solid #e84c3d;
}

.clients {
  background-color: #1c1c1c;
}

.clients__wrap {
  padding: 97px 0;
}

.clients__mainbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 36px;
}

.clients__arrow {
  width: 16px;
  height: 27px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 40px;
  margin: 0 auto;
}

.clients__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 5px;
}

.clients__image {
  width: 37px;
  height: 36px;
  border: 1px solid #ffffff;
}

.clients__title {
  font-family: "Mg Open Modata";
  font-size: 33px;
  line-height: 40px;
  font-weight: 400;
  color: #ececec;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 80px 0 100px 0;
  gap: 22px;
  width: 100%;
}

.about__left-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 436px;
  background-color: #ebebeb;
  font-family: Roboto;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  text-align: center;
}

.about__cerkle {
  margin-top: 72px;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #f26c4f;
}

.about__ld-title {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

.about__ld-text {
  font-size: 14px;
  font-weight: 300;
}

.about__ld-soc {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 10px;
}

.about__ld-btnsdiv {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 10px;
}

.about__ld-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.about__ld-btn:hover {
  background-color: #ebebeb;
  border: 1px solid #fff;
}

.about__ld-btn:active {
  background-color: #8e8181;
  border: none;
}

.about__right-div {
  width: 661px;
  height: 436px;
  background-color: #ebebeb;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 65px;
}

.about__rgd-title {
  font-family: "Roboto Condensed";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  padding-top: 120px;
}

.about__rgd-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  color: #858383;
  padding: 25px 0 40px 0;
  margin-right: 50px;
}

.about__rgd-box {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  width: 542px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.about__scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 370px;
}

.about__progress {
  margin: 6px 0;
  position: relative;
  width: 100%;
  height: 1px;
  overflow: hidden;
  background: #e84c3d;
}

.about__grayback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about__strips {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.about__strips-1 {
  left: 88%;
  /* Текущее состояние */
}

.about__strips-2 {
  left: 92%;
  /* Текущее состояние */
}

.about__strips-3 {
  left: 90%;
  /* Текущее состояние */
}

.about__strips-4 {
  left: 98%;
  /* Текущее состояние */
}

.about__rocent-box {
  height: 100%;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.features {
  background-color: #171f23;
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__title {
  font-family: "Roboto - Condensed";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #f6f6f6;
  padding-top: 60px;
}

.features__span {
  border-bottom: 1px solid #404040;
  padding-bottom: 5px;
}

.features__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
  max-width: 900px;
  gap: 130px;
  padding-bottom: 65px;
}

.features__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__img-div {
  height: 57px;
}

.features__cart-title {
  padding-top: 30px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #f6f6f6;
}

.features__cart-number {
  padding-top: 30px;
  font-family: Roboto;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
  color: #f6f6f6;
}

.posts__title {
  border: none;
}

.posts__title-span {
  border-bottom: 1px solid #f4511e;
}

.posts__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 60px 0 119px 0;
}

.posts__cart {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
}

.posts__text-box {
  padding: 30px 30px 20px 30px;
}

.posts__cart-images {
  width: 100%;
  height: 218px;
  position: relative;
  margin: 0 auto;
  outline: 1px solid red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.posts__cart-sub-img {
  position: absolute;
  width: 100%;
  height: 218px;
  background-image: url(../images/blog-posts/dgi.png);
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.posts__cart-images:hover .posts__cart-sub-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts__sub-img {
  border-radius: 50%;
}

.posts__sub-img-1 {
  background-color: #e87e5d;
  padding: 10px;
}

.posts__sub-img-2 {
  background-color: #f6e5e0;
  padding: 14px 10px;
}

.posts__cart-title {
  font-family: Roboto;
  font-size: 17.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #707070;
  padding-top: 24px;
}

.posts__cart-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 0.025em;
  color: #707070;
  padding: 16px 0 24px 0;
}

.posts__times-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto - Condensed";
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #8a8989;
  width: 100%;
}

.posts__times-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.posts__times-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.plan__main-box {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 58px 0 95px 0;
}

.plan__cart {
  width: 232px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
}

.plan__cart:hover {
  border: 1px solid #f6744b;
}

.plan__cart-header {
  line-height: 1.2;
  color: #ffffff;
  background-color: #0e1316;
  width: 100%;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.plan__text-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}

.plan__cart-box {
  background-color: #1f282c;
  font-family: Roboto;
  font-size: 14.2px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-weight: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px 0;
}

.plan__text {
  padding-bottom: 20px;
}

.plan__btn {
  width: 125px;
  height: 34px;
  background-color: #f6744b;
  border-radius: 3px;
  border: none;
  margin-top: 60px;
}

.plan__btn:hover {
  -webkit-box-shadow: 0 0 10px #f6744b;
          box-shadow: 0 0 10px #f6744b;
}

.touch__title {
  border: none;
}

.touch__title-span-up {
  border-bottom: 3px solid #f4511e;
}

.touch__fildset-div {
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #696969;
  margin: 95px 0 60px 0;
}

.touch__up-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.touch__input {
  width: 45%;
  border: none;
}

.touch__input-all {
  width: 100%;
  margin-top: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #cacaca;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #696969;
  padding: 0 15px 0 15px;
}

.touch__input-last {
  margin-top: 50px;
  width: 100%;
}

.touch__title-span {
  color: #f6744b;
}

.touch__btn {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  width: 203px;
  height: 51px;
  background-color: #f6744b;
  margin-bottom: 80px;
  margin-top: 0;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

.map {
  background-color: #0c1215;
}

.map__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__see-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.map__title {
  font-family: "Roboto Condensed";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 30px 0 30px 0;
  margin-right: 10px;
}

.map__see-div img:hover {
  -webkit-box-shadow: 0 0 20px #f6744b;
          box-shadow: 0 0 20px #f6744b;
}

.map__nav-div {
  position: absolute;
  top: 90px;
  left: 25%;
  width: 500px;
  height: 400px;
}

/*bgc:#ffffff10;
backdrop-filter:blur(12px);
-webkit-backdrop-filter:blur(12px);*/
/*# sourceMappingURL=style.css.map */