* {
    margin: 0;
    padding: 0;
}
$orangecolor: #f38364;
@font-face {
    font-family: Big Noodle Titling; /* Гарнитура шрифта */
    src: url(../fonts/BigNoodleTitling.ttf); /* Путь к файлу со шрифтом */
}
$wrapper_width: 1000px;

.wrapper {
    max-width: $wrapper_width;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    background-color: #f8f6f6;
    // width: 100%;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo_link {
        text-decoration: none;
    }
    &__logo_link svg {
        stroke: black;
        margin-right: 25px;
    }

    &__title {
        font-family: "Big Noodle Titling", sans-serif;
        font-size: 40px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #696969;
        padding: 57px 0 57px 0;
    }
    &__burger_btn {
        height: 22px;
        width: 40px;
        border: none;
        background-color: none;
    }
    &__burger_btn svg {
        fill: none;
        stroke: #464646;
        stroke-width: 2px;
        fill-rule: evenodd;
        transition-delay: 0.1s;
    }
    &__burger_btn:hover svg {
        stroke: #f38364;
        stroke-width: 2px;
        fill-rule: evenodd;
    }
}
.slider {
    background-color: #353535;

    display: flex;
    align-items: center;
    &__btn {
        border: none;
        background-color: transparent;
        transition: 0.7s;
    }
    &__btn svg {
        stroke: #3a3939;
        transition-delay: 0.1s;
    }
    &__btn:hover svg {
        stroke: #f38364;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #d6d5d5;
        height: 709px;
        justify-content: flex-end;
    }

    // .slider__title

    &__title {
        font-family: "Big Noodle Titling";
        font-size: 72px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.15em;
    }

    // .slider__text

    &__text {
        font-family: "Big Noodle Titling";
        font-size: 36px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.1em;
        padding: 24px 0 167px 0;
    }

    // .slider__image

    &__image {
        background-color: transparent;
    }

    // .slider__bottom

    &__bottom {
        // .slider__bottom_text

        &_text {
            font-family: Roboto;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
            padding: 19px 0 45px 0;
        }
    }
}
.about {
    background-color: #fff;
    // .about__wrap

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .about__title

    &__title {
        font-family: "Big Noodle Titling";
        font-size: 48px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #3d3d3d;
        border-bottom: 3px solid $orangecolor;
        padding-top: 95px;
    }
    &__text-cont {
        width: 550px;
        text-align: center;
    }

    // .about__text

    &__text {
        font-family: Roboto;
        font-size: 14.1px;
        line-height: 1.2;
        font-weight: 100;
        color: #696969;
        padding-top: 29px;
    }

    // .about__carts

    &__carts {
        display: flex;
        justify-content: space-between;

        gap: 22px;
        width: 100%;
        padding: 60px 0 119px 0;
    }

    // .about__cart

    &__cart {
        width: 320px;
        height: 196px;
        background-color: #ebebeb;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px 0 45px;
    }
    &__cart-images {
        width: 60px;
        height: 58px;
        padding-top: 33px;
        position: relative;
        margin: 0 auto;
    }

    // .about__cart-image

    &__cart-image {
        position: absolute;
        bottom: 0;
    }

    // .about__cart-title

    &__cart-title {
        font-family: Roboto;
        font-size: 17.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #707070;
        padding-top: 24px;
    }

    // .about__cart-text

    &__cart-text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 100;
        letter-spacing: 0.025em;
        color: #707070;
        padding: 16px 0 24px 0;
        // text-align:center;
    }
}
.video {
    // justify-content: space-around;
    // background-color: #171f23;
    // .video__boxes
    &__main-cont {
        display: flex;
        flex-wrap: wrap;
        max-width: 1370px;
        margin: 0 auto;
        background-color: #171f23;
    }
    &__boxes {
        width: 50%;
        height: 430px;
    }

    // .video__box-text

    &__box-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        // justify-content: center;
        background-color: #171f23;
    }

    // .video__title

    &__title {
        font-family: Roboto;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        color: #e7e7e7;
        padding-top: 130px;
    }
    &__text-box {
        width: 470px;
        margin: 0 auto;
    }

    // .video__text

    &__text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 100;
        color: #696969;
        padding-top: 28px;
    }

    // .video__text-btn

    &__text-btn {
        border: none;
        background-color: #e84c3d;
        color: #eadbd9;
        margin: 50px auto 100px;
        padding: 12px 29px;
    }
    &__text-btn:hover {
        border-bottom: 2px solid #b11000;
    }

    // .video__viddiv

    &__viddiv {
        position: relative;
        background-image: url(../images/video/bg_copy_5536.jpg);
        background-repeat: no-repeat;
    }
    &__glass {
        position: absolute;
        background-color: #171f23;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .video__image

    &__viddiv-btn {
        background-color: none;
        border: none;
    }
}
.works {
    max-width: 1370px;
    margin: 0 auto;
    &__carts {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1px;
        margin: 0 auto;
    }
    &__cart {
        width: 273px;
        height: 175px;
        background-color: #e84c3d;
        outline: 1px solid black;
    }

    // .works__categories

    &__categories {
        display: flex;
        margin: 84px 0 34px 0;
        font-family: Roboto;
        font-size: 13.7px;
        line-height: 1.2;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: #3d3d3d;
    }

    // .works__list

    &__list {
        list-style-type: none;
        padding-left: 16px;
    }

    // .works__links

    &__links {
        text-decoration: none;
        color: #3d3d3d;
        // transition: .2s;
    }
    &__links:hover {
        font-family: Roboto;
        font-size: 13.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #3d3d3d;
        border-bottom: 1px solid #e84c3d;
    }
}
.clients {
    background-color: #1c1c1c;

    // .clients__box
    &__wrap {
        padding: 97px 0;
    }
    &__mainbox {
        display: flex;
        align-content: space-between;
        height: 36px;
    }
    &__arrow {
        width: 16px;
        height: 27px;
        align-self: center;
    }
    &__box {
        display: flex;
        align-content: space-between;
        gap: 40px;
        margin: 0 auto;
    }

    // .clients__unit

    &__unit {
        display: flex;
        align-content: space-between;
        gap: 5px;
    }

    // .clients__image

    &__image {
        width: 37px;
        height: 36px;
        border: 1px solid #ffffff;
    }

    // .clients__title

    &__title {
        font-family: "Mg Open Modata";
        font-size: 33px;
        line-height: 40px;
        font-weight: 400;
        color: #ececec;
    }
}

.about {
    &__box {
        display: flex;
        align-content: space-between;
        margin: 80px 0 100px 0;
        gap: 22px;
        width: 100%;
    }

    // .about__left-div

    &__left-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        height: 436px;
        background-color: #ebebeb;
        font-family: Roboto;
        line-height: 1.2;
        letter-spacing: 0.1em;
        color: #3d3d3d;
        text-align: center;
    }

    // .about__cerkle

    &__cerkle {
        margin-top: 72px;
        width: 134px;
        height: 134px;
        border-radius: 50%;
        background-color: #f26c4f;
    }

    // .about__ld-title

    &__ld-title {
        padding-top: 30px;
        font-size: 20px;
        font-weight: 700;
    }

    // .about__ld-text

    &__ld-text {
        font-size: 14px;
        font-weight: 300;
    }

    // .about__ld-soc

    &__ld-soc {
        padding-top: 20px;
        display: flex;
        align-content: space-between;
        gap: 10px;
    }

    // .about__socimg

    &__socimg {
    }

    // .about__ld-btnsdiv

    &__ld-btnsdiv {
        padding-top: 40px;
        display: flex;
        align-content: space-between;
        gap: 10px;
    }

    // .about__ld-btn

    &__ld-btn {
        background-color: #ffffff;
        border: none;
        border-radius: 50%;
        width: 11px;
        height: 11px;
    }
    &__ld-btn:hover {
        background-color: #ebebeb;
        border: 1px solid #fff;
    }
    &__ld-btn:active {
        background-color: #8e8181;
        border: none;
    }

    // .about__right-div

    &__right-div {
        width: 661px;
        height: 436px;
        background-color: #ebebeb;
        text-align: start;
        display: flex;
        flex-direction: column;
        padding-left: 65px;
    }

    // .about__rgd-title

    &__rgd-title {
        font-family: "Roboto Condensed";
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #3d3d3d;
        padding-top: 120px;
    }

    // .about__rgd-text

    &__rgd-text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 100;
        color: #858383;
        padding: 25px 0 40px 0;
        margin-right: 50px;
    }

    // .about__rgd-box

    &__rgd-box {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #3d3d3d;
        width: 542px;
        height: 112px;
        display: flex;
        justify-content: space-between;
    }

    // .about__text-box

    &__text-box {
        height: 100%;
        // width: 120px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    // .about__prog-text

    &__prog-text {
    }
    &__scale {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 370px;
    }

    // .about__progress

    &__progress {
        margin: 6px 0;
        position: relative;
        width: 100%;
        height: 1px;
        overflow: hidden;
        background: #e84c3d;
    }

    // .about__grayback

    &__grayback {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background-image: linear-gradient(to right, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
        // background-size: 6px 100%; /* Ширина деления = 6px / 2 = 3px */
    }

    // .about__strips

    &__strips {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    &__strips-1 {
        left: 88%; /* Текущее состояние */
    }
    &__strips-2 {
        left: 92%; /* Текущее состояние */
    }
    &__strips-3 {
        left: 90%; /* Текущее состояние */
    }
    &__strips-4 {
        left: 98%; /* Текущее состояние */
    }

    // .about__rocent-box

    &__rocent-box {
        height: 100%;
        width: 30px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    // .about__rocent-text

    &__rocent-text {
    }
}

.features {
    background-color: #171f23;
    // .features__wrap

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .features__title

    &__title {
        font-family: "Roboto - Condensed";
        font-size: 36px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.2em;
        color: #f6f6f6;
        padding-top: 60px;
    }
    &__span {
        border-bottom: 1px solid #404040;
        padding-bottom: 5px;
    }

    // .features__carts

    &__carts {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        max-width: 900px;
        gap: 130px;
        padding-bottom: 65px;
    }

    // .features__cart

    &__cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // .features__img

    &__img-div {
        height: 57px;
    }

    // .features__cart-title

    &__cart-title {
        padding-top: 30px;
        font-family: Roboto;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #f6f6f6;
    }

    // .features__cart-number

    &__cart-number {
        padding-top: 30px;
        font-family: Roboto;
        font-size: 48px;
        line-height: 1.2;
        font-weight: 300;
        color: #f6f6f6;
    }
}
.posts {
    &__title {
        border: none;
    }
    &__title-span {
        border-bottom: 1px solid #f4511e;
    }

    // .posts__carts

    &__carts {
        display: flex;
        justify-content: space-between;

        gap: 10px;
        width: 100%;
        padding: 60px 0 119px 0;
    }

    // .about__cart

    &__cart {
        background-color: #ebebeb;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
    }
    &__text-box {
        padding: 30px 30px 20px 30px;
    }
    &__cart-images {
        width: 100%;
        height: 218px;
        position: relative;
        margin: 0 auto;
        outline: 1px solid red;
        transition: 0.5s;
    }

    &__cart-sub-img {
        position: absolute;
        width: 100%;
        height: 218px;
        background-image: url(../images/blog-posts/dgi.png);
        display: none;
        transition: 0.5s;
    }

    &__sub-div {
    }
    &__cart-images:hover &__cart-sub-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__sub-img {
        border-radius: 50%;
    }

    &__sub-img-1 {
        background-color: #e87e5d;
        padding: 10px;
    }

    &__sub-img-2 {
        background-color: #f6e5e0;
        padding: 14px 10px;
    }

    &__cart-title {
        font-family: Roboto;
        font-size: 17.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #707070;
        padding-top: 24px;
    }

    // .about__cart-text

    &__cart-text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 100;
        letter-spacing: 0.025em;
        color: #707070;
        padding: 16px 0 24px 0;
        // text-align:center;
    }

    &__times-box {
        display: flex;
        justify-content: space-between;
        font-family: "Roboto - Condensed";
        font-size: 10px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #8a8989;
        width: 100%;
    }

    &__times-left {
        display: flex;
        gap: 7px;
    }

    &__times-right {
        display: flex;
        gap: 7px;
    }
}
.plan {
    &__wrap {
    }

    &__main-box {
        width: 940px;
        display: flex;
        justify-content: space-between;
        padding: 58px 0 95px 0;
    }

    &__cart {
        width: 232px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid transparent;
    }
    &__cart:hover {
        border: 1px solid #f6744b;
    }

    &__cart-header {
        line-height: 1.2;
        color: #ffffff;
        background-color: #0e1316;
        width: 100%;
        height: 128px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.1em;
    }

    &__text-title {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 300;
    }

    &__cart-box {
        background-color: #1f282c;
        font-family: Roboto;
        font-size: 14.2px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #ffffff;
        font-weight: 100;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 50px 0;
    }

    &__text {
        padding-bottom: 20px;
    }

    &__btn {
        width: 125px;
        height: 34px;
        background-color: #f6744b;
        border-radius: 3px;
        border: none;
        margin-top: 60px;
    }
    &__btn:hover {
        box-shadow: 0 0 10px #f6744b;
    }
}

.touch {
    &__title {
        border: none;
    }
    &__title-span-up {
        border-bottom: 3px solid #f4511e;
    }
    &__fildset-div {
        width: 770px;
        display: flex;
        flex-direction: column;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #696969;
        margin: 95px 0 60px 0;
    }
    &__up-div {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__input {
        width: 45%;
        border: none;
    }
    &__input-all {
        width: 100%;
        margin-top: 30px;
        outline: none;
        border: none;
        border-bottom: 1px solid #cacaca;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #696969;
        padding: 0 15px 0 15px;
    }
    &__input-last {
        margin-top: 50px;
        width: 100%;
    }

    &__legend {
    }

    &__title-span {
        color: #f6744b;
    }
    &__btn {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #ffffff;
        width: 203px;
        height: 51px;
        background-color: #f6744b;
        margin-bottom: 80px;
        margin-top: 0;
    }
}
details summary::-webkit-details-marker {
    display: none;
}
details > summary {
    list-style: none;
}
.map {
    background-color: #0c1215;

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__see-div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__title {
        font-family: "Roboto Condensed";
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #ffffff;
        padding: 30px 0 30px 0;
        margin-right: 10px;
    }
    &__see-div img:hover {
        box-shadow: 0 0 20px #f6744b;
    }
    &__nav-div {
        position: absolute;
        top: 90px;
        left: 25%;
        width: 500px;
        height: 400px;
    }
}
/*bgc:#ffffff10;
backdrop-filter:blur(12px);
-webkit-backdrop-filter:blur(12px);*/
